.DS_store
.vscode
~*
*.aux
*.bbl
*.blg
*.log
*.out

*.tmp

#*.pdf
#*.tex

*.zip

*.fdb_latexmk
*.fls

conference_*.tex

*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.nav
*.snm
*.toc

*.run.xml
*.bcf
*blx.bib

*/lab2/*.model
*/lab2/*.pkl

*.swp
